* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regular font  */
@font-face {
  font-family: "Dongel";
  src: url(/font-dongle/Dongle-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* bold font  */
@font-face {
  font-family: "Dongel";
  src: url(/font-dongle/Dongle-Bold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* font light  */
@font-face {
  font-family: "Dongel";
  src: url(font-dongle/Dongle-Light.woff2);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Dongel", "Courier New", Courier, monospace;
  height: 100vh;
  background-image: radial-gradient(ellipse, #3a46f2, #020748);
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  background-color: #9198ee;
  width: 60%;
  height: 70%;
  border-radius: 12px;
  box-shadow: 0 25px 120px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-title {
  opacity: 0.6;
  text-align: center;
  font-size: 40px;
}
.counter-value {
  color: white;
  font-size: 200px;
  margin-top: 10px;
}
button {
  all: unset;
}
.counter-reset-btn {
  cursor: pointer;
}

.counter-reset-icon {
  opacity: 0.3;
  font-size: 35px;
  transition: all 0.3s;
}
.counter-reset-icon:hover {
  opacity: 0.5;
}

.counter_buttons {
  background-color: #c2ddf1;
  width: 100%;
  height: 100px;
  margin-top: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}
.counter_icon {
  color: #020748;
  font-size: 35px;
  opacity: 0.9;
}
.counter_button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter_button--decrease:hover {
  background-color: #8badc7;
  border-bottom-left-radius: 10px;
}
.counter_button--increase:hover {
  background-color: #8badc7;
  border-bottom-right-radius: 10px;
}

.counter_button--increase {
  border-left: 1px solid #b8d0e7;
}

@media (max-width: 680px) {
  .counter {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
